/*====================== CSS START =====================*/

.nav-tabs {
    display: none;
}

.custody_design ul#tabs {
    padding: 0px;
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
    border: none;
}

.custody_design li.nav-item {
    padding: 0px;
    margin: 0px;
    width: 20%;
    flex: 0 0 20%;
    position: relative;
    cursor: pointer;
}

.custody_design li.nav-item .nav-link {
    padding: 0px;
    margin: 0px;
    border: none;
}

.custody_design li.nav-item .tab_content {
    position: absolute;
    bottom: 5px;
    background: #00000061;
    height: 97%;
    width: 100%;
}

.custody_design li.nav-item .tab_content h2 {
    color: #fff;
    position: absolute;
    bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    padding: 10px 10px;
    min-height: 80px;
}

.custody_design li.nav-item .tab_content h2 {
    color: #fff;
}

.custody_design li.nav-item .image img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
}

.custody_design .nav-tabs .nav-link.active img {
    filter: none;
}

.custody_design .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active:before {
    content: "";
    position: absolute;
    left: 44%;
    z-index: 1;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #f00;
    bottom: -12px;
}

.custody_design .nav-tabs .nav-item.show .nav-link,
.custody_design .nav-tabs .nav-link.active {
    border-bottom: 6px solid red !important;
    border-left: none;
}

.custody_design .nav-tabs .nav-item.nav-link,
.custody_design .nav-tabs .nav-link {
    border-bottom: 6px solid #fff !important;
    border-left: none;
}

.custody_design .nav-tabs .nav-link:focus,
.custody_design .nav-tabs .nav-link:hover {
    border-left: none;
}

.custody_design .close_icon img {
    width: 20px;
    cursor: pointer;
}

.custody_design .close_icon {
    float: right;
}

.custody_design .content_heading {
    margin-top: 40px;
}

.custody_design .content_heading h2 {
    font-size: 24px;
    color: #f00;
    font-weight: 700;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
}

.custody_design .content_heading span {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.custody_design .card-body p {
    padding-top: 30px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

.custody_design .collapse ul {
    list-style: none;
}

.custody_design .collapse ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

@media(min-width:768px) {
    .nav-tabs {
        display: flex;
    }
    .card {
        border: none;
    }
    .card .card-header {
        display: none;
    }
    .card .collapse {
        display: block;
    }
}

@media(max-width:767px) {
    .custody_design .tab-pane {
        display: block !important;
        opacity: 1;
    }
    .custody_design .content_heading .close_icon {
        display: none;
    }
    .custody_design .content_heading {
        margin-top: 10px;
    }
    .custody_design .card-body p {
        padding-top: 20px;
    }
    /***************/
    .custody_design div#pane-A .card-header {
        background: url(../imgs/img1desktopx2.png)no-repeat;
        background-position: center;
        width: 100%;
        height: 100px;
        background-size: cover;
    }
    .custody_design div#pane-B .card-header {
        background: url(../imgs/img1desktopx2.png)no-repeat;
        background-position: center;
        width: 100%;
        height: 100px;
        background-size: cover;
    }
    .custody_design div#pane-C .card-header {
        background: url(../imgs/img1desktopx2.png)no-repeat;
        background-position: center;
        width: 100%;
        height: 100px;
        background-size: cover;
    }
    .custody_design div#pane-D .card-header {
        background: url(../imgs/img1desktopx2.png)no-repeat;
        background-position: center;
        width: 100%;
        background-size: cover;
        height: 100px;
    }
    .custody_design div#pane-E .card-header {
        background: url(../imgs/img1desktopx2.png)no-repeat;
        background-position: center;
        width: 100%;
        background-size: cover;
        height: 100px;
    }
    .custody_design .card-header {
        display: flex;
        align-items: center;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        width: 100%;
        position: relative;
    }
    .custody_design .card-header .tab_content h2 {
        color: #fff;
        font-size: 24px;
        line-height: 30px;
        font-family: 'Roboto', sans-serif;
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 30px;
    }
    .custody_design .card-header .tab_content {
        background: #0000007a;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .custody_design .col-lg-8.col-lg-offset-2.m-auto {
        padding: 0px;
    }
    .custody_design .tab-content .tab-pane {
        display: block !important;
        opacity: 1;
        border-left: none;
        border-right: none;
        border-top: none;
    }
    .custody_design .tab-content .tab-pane .card-header.active {
        filter: unset;
        border-bottom: 6px solid red !important;
        border-left: none;
    }
    .custody_design .tab-content .tab-pane .card-header.active:before {
        content: "";
        position: absolute;
        left: 44%;
        z-index: 1;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #f00;
        bottom: -18px;
    }
}